* {
  margin: 0px;
  padding: 0px;
}
.heading {
  font-family: system-ui;
  padding: 8px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.sect {
  background-color: #b5e5eb;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
}
.faq .faq-list a {
  color: #000;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #47b2e4;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

.section2 {
  background-color: cornflowerblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.section3 {
  background-color: wheat;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.section4 {
  background-color: cornsilk;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.section5 {
  background-color: cadetblue;
}

.quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden;
}

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #f6f6f6;
}

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box;
}

.quantity .minus,
.quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3;
}

.quantity .minus:hover,
.quantity .plus:hover {
  background-color: #dad8da;
}

.quantity .minus {
  bottom: 0;
}
.shopping-cart {
  margin-top: 20px;
}

.payment {
  padding: 5rem !important;
}

.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
  border-color: #4ca746;
}

.counts {
  padding-bottom: 30px;
  background-color: #b5ebd6;
}

.counts .count-box {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.counts .count-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: gray;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #149ddd !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

.testimonials {
  background-color: oldlace;
}
.count-box:hover {
  background-color: #b5e5eb;
}

.first-sect {
  background-color: dodgerblue;
}
.clients {
  padding-top: 30px;
  background-color: #daebd3;
}

.clients .clients-wrap {
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.clients .client-logo {
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
  background: #fff;
  height: 140px;
}

.clients .client-logo:hover img {
  transform: scale(1.1);
}

.clients img {
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1200px) {
  .card-1 {
    padding: 6px 15px;
    margin: 6px;
  }
  .card-2 {
    padding: 6px 15px;
    margin: 6px;
  }
  .card-3 {
    padding: 6px 15px;
    margin: 6px;
  }
}
.card-img-top {
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 5px;
  width: 160px;
}

.cards-prop {
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .mar {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
.primary-btn {
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  padding: 12px 40px;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ee8425),
      to(#f9488b)
    ),
    -webkit-gradient(linear, left top, right top, from(#ee8425), to(#f9488b));
  /* background-image: -o-linear-gradient(left, #ee8425 0%, #f9488b 100%), -o-linear-gradient(left, #ee8425 0%, #f9488b 100%);
  background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%), linear-gradient(to right, #ee8425 0%, #f9488b 100%); */
  background: crimson;
}
.primary-btn:hover {
  text-decoration: none;
  color: #ccc;
}
.site-btn {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 10px 40px 12px;
  border-radius: 50px;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background: crimson; */
}

.header-section.header-normal {
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  float: left;
  padding-top: 36px;
  padding-bottom: 30px;
}

.logo img {
  overflow: hidden;
  width: 100px;
}

.logo a {
  display: inline-block;
}

.nav-menu {
  float: right;
}

.nav-menu .mainmenu {
  display: inline-block;
}

.nav-menu .mainmenu ul li {
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
  position: absolute;
  width: 180px;
  background: #ffffff;
  z-index: 99;
  left: 0;
  top: 130px;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-menu .mainmenu ul li .dropdown li {
  display: block;
  margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
  padding: 8px 10px;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
  color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
  display: none;
}

.nav-menu .mainmenu ul li.active a:after {
  opacity: 1;
}

.nav-menu .mainmenu ul li:hover > a:after {
  opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 100px;
}

.nav-menu .mainmenu ul li a {
  font-size: 16px;
  color: #171822;
  text-transform: uppercase;
  font-weight: 600;
  padding: 42px 0;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-menu .mainmenu ul li a:after {
  position: absolute;
  left: 0;
  bottom: 36px;
  height: 2px;
  width: 100%;
  background: #f44949;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-menu .primary-btn.top-btn {
  margin: 27px 0;
}

.slicknav_menu {
  display: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.typed-text {
  font-weight: normal;
  color: #dd7732;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
.footer-section {
  /* background: #171822; */
  background: #202020;
  padding-top: 50px;
  padding-bottom: 60px;
}

.footer-logo {
  overflow: hidden;
  width: 200px;
}
.footer-logo img {
  width: 200px;
}
.partner-logo {
  padding-bottom: 50px;
  border-bottom: 1px solid #2f3039;
}

.partner-logo .pl-table {
  display: inline-block;
  display: table;
}

.partner-logo .pl-table .pl-tablecell {
  display: table-cell;
  vertical-align: middle;
  height: 41px;
}

.footer-text {
  text-align: center;
  padding-top: 60px;
}

.footer-text .ft-logo {
  margin-bottom: 20px;
}

.footer-text .ft-logo a {
  display: inline-block;
}

.footer-text ul {
  margin-bottom: 18px;
}

.footer-text ul li {
  list-style: none;
  display: inline-block;
  margin-right: 52px;
}

.footer-text ul li:last-child {
  margin-right: 0;
}

.footer-text ul li a {
  font-size: 18px;
  color: #a0a1b5;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-text ul li a:hover {
  color: #f44949;
  text-decoration: none;
}

.footer-text .copyright-text {
  font-size: 14px;
  color: #a0a1b5;
  margin-bottom: 28px;
}

.footer-text .copyright-text i {
  color: #f44949;
}

.footer-text .copyright-text a {
  color: #a0a1b5;
}

.footer-text .copyright-text a:hover {
  color: #f44949;
}

.footer-text .ft-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #a3a3ae;
  border: 1px solid #45464e;
  border-radius: 50%;
  margin-right: 15px;
}

.footer-text .ft-social a:hover {
  background: #f44949;
  color: #fff;
}

.footer-text .ft-social a:last-child {
  margin-right: 0;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
